<!DOCTYPE html>
<html class="no-js">
<head>
    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

{% block style %}
    {% stylesheets "@integrated_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {{ integrated_stylesheets() }}

    <script>
        var loadedScripts = [],
            callbacks = [];
        function require(url, callback){

            callbacks.push(callback);

            if (loadedScripts[url]) {
                script = loadedScripts[url];
            } else {
                var script = document.createElement("script")
                script.type = "text/javascript";

                script.src = url;
                document.getElementsByTagName("head")[0].appendChild(script);

                loadedScripts[url] = script;
            }

            if (script.readyState){  //IE
                script.onreadystatechange = function(){
                    if (script.readyState == "loaded" ||
                            script.readyState == "complete"){
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //Others
                script.onload = function(){
                    for (var key in callbacks) {
                        callbacks[key]();
                    }
                };
            }
        }
    </script>
{% endblock style %}

</head>
<body>
{% block form_theme %}
    {% if form is defined %}
        {% form_theme form with ['IntegratedContentBundle:form:form_div_layout.html.twig'] %}
    {% endif %}
{% endblock %}

{% block header %}
    <nav class="navbar megamenu">
        <div class="container">
            {% include 'IntegratedContentBundle:partials:block.navigation.html.twig' %}
            {% include 'IntegratedContentBundle:partials:block.logo.html.twig' %}

            {{ render(controller('IntegratedContentBundle:Content:navdropdowns')) }}

            {% include 'IntegratedContentBundle:partials:block.search.html.twig' %}
        </div>
    </nav>
{% endblock %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">
                    {% trans %}Home{% endtrans %}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

<div id="wrapper-holder">
    {% block body %}
        <div class="container">
            {% block flash %}
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
            {% endblock flash %}
            {% block content %}{% endblock content %}
        </div>
    {% endblock body %}
</div>

{% block javascript %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('/js/bootstrap.js') }}"></script>

    {% javascripts
        '@IntegratedContentBundle/Resources/public/components/corejs-typeahead/dist/typeahead.bundle.js'
        '@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.js'
        '@IntegratedContentBundle/Resources/public/components/modernizr/modernizr.js'
        '@IntegratedContentBundle/Resources/public/components/respond/dest/respond.src.js'
        '@IntegratedContentBundle/Resources/public/components/select2/dist/js/select2.full.js'
        '@IntegratedContentBundle/Resources/public/components/jquery-placeholder/jquery.placeholder.js'
        '@IntegratedContentBundle/Resources/public/components/moment/min/moment-with-locales.js'
        '@IntegratedContentBundle/Resources/public/js/scripts.js'
        '@integrated_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if app.request.locale %}
    <script>
        moment.locale('{{ app.request.locale }}');
    </script>
    {% endif %}

    {{ integrated_javascripts() }}

    {% block locking %}
        {% if locking is defined and locking.lock is defined and locking.locked == false %}
            {% include 'IntegratedLockingBundle::locking.refresh.html.twig' with { 'lock': locking.lock } %}
        {% endif %}
    {% endblock locking %}
{% endblock javascript %}

</body>
</html>
